* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /*body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      line-height: 1.6;
    }*/

    header {
      background-color: #0078d7;
      color: white;
      text-align: center;
      padding: 2rem 0;
    }

    header h1 {
      font-size: 2.5rem;
    }

    nav {
      background: #005fa3;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 1rem;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }

    section {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }

    h2 {
      color: #0078d7;
      margin-bottom: 1rem;
    }

    .project {
      background: white;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    footer {
      text-align: center;
      padding: 1rem;
      background-color: #0078d7;
      color: white;
      margin-top: 2rem;
    }
    .form-box{
    background-color:goldenrod;
    }
    form{
      text-align: left;
    }
    body{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height:1.2;
    }
    label{
      display: block;
    }
    input [type='text'] {
      border: 1px solid goldenrod;
      border-radius:5px;
      padding: 0.5rem 0.7rem;
    }
    .form-group{
    margin-bottom:1rem;
    }
    